/* Remove image borders */
.reveal section img {
  border: 0;
  box-shadow: none;
}

/* Enable List Bullet Icons */
/*.reveal ul { list-style: none; }*/

/* Enable Huge Icons */
.fa-huge { font-size : 15em; color: #eba3ff; }

/* Custom Icons Colors */
.fa-pink { color : #eba3ff; }
.fa-peach { color : #ffa6b9; }
.fa-lime { color : #b9ff66; }

span.fa-byline { color : gray; }

.textleft{
  color: white;
  text-align: left;
}


#content {
  float: right ;
  width: 40% ;
  margin-top:30px;
}
#navbar {
  float: right;
  width: 60% ;
  margin-top:60px;
}
